[Unit]
Description=Look in Clip's Dropbox folders every 15 minutes

[Timer]
OnCalendar=*:0/15
RandomizedDelaySec=60
Persistent=false

[Install]
WantedBy=timers.target
